.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

.navbar__container {
  @apply w-full max-w-[750];
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: inherit;
  justify-content: inherit;
}

.navbar__container_logo {
  margin-right: 2rem;
}

.navbar__container_logo img {
  width: 32px;
  height: 32px;
}

.navbar__container_links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__container_links p,
.navbar__container_menu p {
  color: var(--color-text);
  @apply font-medium text-lg mx-4;
  font-family: var(--font-family);
}

.navbar__container_switch {
  @apply ml-auto;
}

.navbar__container_menu {
  @apply ml-4 hidden relative;
}

.navbar__container_menu_containter {
  @apply flex flex-col justify-end items-end text-end p-8 absolute top-10 right-0 mt-4 border-r-4;
  min-width: 210px;
  background: var(--color-footer);
}

@media screen and (max-width: 800px) {
  .navbar__container_links {
    @apply hidden;
  }

  .navbar__container_menu {
    @apply flex;
  }
}
