.HP__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.HP__navbar_links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HP__navbar_links_logo {
  margin-right: 2rem;
}

.HP__navbar_links_logo img {
  width: 32px;
  height: 32px;
}

.HP__navbar_links_container {
  @apply flex flex-row;
}

.HP__navbar_sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.HP__navbar_links_container p,
.HP__navbar_sign p,
.HP__navbar_menu_container p {
  color: white;
  @apply font-medium text-lg mx-4;
  font-family: var(--font-family);
}
